<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="DerivativeCaculatorService.DerivativeCaculatorServiceType" behaviorConfiguration="AllowHttpGetMetaData">
        <endpoint address="Caculator" binding="basicHttpBinding" contract="DerivativeCaculatorService.IDerivativeCaculator"></endpoint>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="AllowHttpGetMetaData">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>